PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=changeme
DB_NAME=fellowship
DB_SSL=true
DB_SSL_REJECT_UNAUTHORIZED=true
DB_SSL_CA=
CORS_ORIGIN=http://localhost:5173
TRL_PASSWORD=
TRL_GF_USER=multimediafalab
TRL_GF_PASSWORD=
TRL_GF_URL=https://fablab.ucontinental.edu.pe/wp-json/gf/v2/forms/9/entries
N8N_WEBHOOK_URL=
